---
layout: page.liquid
---
<main>
  <h1><a href="/">Stuart's Longpost Emporium</a> / {{ title }}</h1>
  <p>Posted: <time datetime={{ date }}>{{ date }}</time>
  <article>
    {{ content }}
  </article>
</main>
