<!DOCTYPE html>
<html>
  <head>
    <title>
      {% if title %}
        {{ title }} -
      {% endif %} Stuart's Longpost Emporium
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/mvp.css">
    <link rel="stylesheet" href="/css/dark.css" media="(prefers-color-scheme: dark)">
    <link rel="stylesheet" href="/css/stalruth.css">
  </head>
  <body>
    <main>
      <h1>{{ title | default: "Stuart's Longpost Emporium" }}</h1>
      {{ content }}
    </main>
    <footer>
      © 2021 Stuart Rutherford
    </footer>
  </body>
</html>

